# Electron & Build bestanden
release/
frontend/dist/

# Wachtwoorden en sleutels (CRUCIAAL!)
.env
backend/.env

# Node modules (stond er waarschijnlijk al in)
node_modules/
backend/node_modules/
frontend/node_modules/

# Mac rommel
.DS_Store